{% extends "index.html" %}

{% block content %}

<form action = "/login" method = "post">
    <table>
        <tr>
            <span style = "font-size: 26px"> Login Page </span> <br>
        </tr>
        <tr>
            <th style = "text-align: right"> Username: </th>
            <th> <input name = "username" text = "text" value = {{username}}> </th>
        </tr>
        <tr>
            <th style = "text-align: right"> Password: </th>
            <th> <input name = "password" type = "password"> </th>
        </tr>
        <tr>
            <th style = "text-align: right"> Confirm: </th>
            <th> <input name = "verify" type = "password"> </th>
        </tr>
        <tr>
            <th style = "text-align: right"> Email (optional): </th>
            <th> <input name = "email" value = {{email}}> </th>
        </tr>
        {% if error %}
            <h4>
            Error: {{error}}
            </h4>
        {% endif %}
    </table>

    <input type = "submit">

</form>

{% endblock %}