{% extends "index.html" %}

{% block content %}
<h1>Login Page</h1>

<form action = "/login" method = "post">
    Username: <input name = "username" text = "text" value = {{username}}>  <br>
    Password: <input name = "password" type = "password">                   <br>
    Confirm:  <input name = "verify" type = "password">                     <br>
    Email (optional): <input name = "email" value = {{email}}>              <br>

    {% if error %}
        <h4>
        Error: {{error}}
        </h4>
    {% else %}
        <br>
    {% endif %}

    <input type = "submit">
</form>

{% endblock %}